Hola {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

estás recibiendo este correo porque vos (o alguien que pretendió serlo) solicitó resetear tu clave en nuestro sitio {{ domain }}.
Si no deseas reestablecer tu clave, simplemente ignora este correo. Tu clave quedará intacta.


Para resetear tu clave, por favor hacé click en el siguiente link, o copia y pegalo en tu web browser:

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

Tu usuario, en caso de que lo hayas olvidado: {{ user.username }}


Saludos Cordiales,
la administración de {{ site_name }}