{% extends "registration/registration_base.html" %}
{% block title %}Resetear clave{% endblock %}
{% block content %}
<section>
<h3 style="margin-left: 25px">¿Olvidaste tu clave?</h3>
<p style="margin-left: 25px; width: 43%">
	Ingres&aacute; tu email en el formulario de abajo y te enviaremos las instrucciones para crear una nueva clave.
</p>
<article>
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Resetear la clave" /></td></tr>
</table>
	</form>
	<a href="/accounts/login">Volver</a> al Inicio
</article>
</section>
{% endblock %}
