{% extends "tps/base.html" %}

{% block body %}
	{% if alumno%}
	<section>
		{% if alumno.tpsAsignados.count > 0 %}
		<article>
			{% for tp in alumno.tpsAsignados.all %}
			<ul>
				<li>Nro: {{ forloop.counter }}<br />
				C&oacute;digo: {{ tp.codigo }}</li>
				<ul>
					<li>T&iacute;tulo: {{ tp.titulo }}</li>
					<li>Consigna: {{ tp.consigna }}</li>
					<li>Nros Legajos Asignados: {{ tp.nrosLegajosAsignados }}</li>
					<li>Fecha Inicio: {{ tp.fechaInicio }}</li>
					<li>Fecha Fin: {{ tp.fechaFin }}</li>
				</ul>
			</ul>
			{% endfor %}
		</article>
		{% else %}
		<article>
			<b>No tenes trabajo pr&aacute;ctico asignado a&uacute;n: </b>
			<input type="button" onclick="location.href='./asignarTP/{{ alumno.nroLegajo }}'" value="Asignarme un TP" />
			<p>nroLegajoAsignacion: {{ nroLegajoAsignacion }}</p>
			<p>cantTPAsignados: {{ cantTPAsignados }}
		</article>
		{% endif %}
		{% if formAlumno %}
		<article>
			<form action="../agregarAlumno" method="post">
				{% csrf_token %}
				{{ formAlumno }}
				<br /> <br />
				<a href="/facultad/tps/principal">Cancelar</a>
				<input type="submit" value="Modificar" />
			</form>
		</article>
		{% endif %}
	</section>
	{% endif %}
{% endblock %}
