{% extends "tps/base.html" %}
{% block title %}Autoevaluaci&oacute;n TP {{ tp.codigo }} tema {{ tp.tema }}
{% endblock %}

{% block subHead %}
{% endblock %}

{% block content%}
	<a href="/facultad/principal"><img id="logo-fceia" src="/static/images/FCEIA-logo.png" /></a>
	<h3 style="text-align: center;">Alumno {{ user.first_name }} {{ user.last_name }}</h3>
<section>
	<article class="columnaSimple">
		<p><strong>Autoevaluaci&oacute;n</strong></p>
		{% if tp %}
		<fieldset>
			<legend>TP {{ tp.codigo }} Tema {{ tp.tema }}</legend>
			<p>T&iacute;tulo: {{ tp.titulo }}</p>
			<p>Consigna: {{ tp.consigna }}</p>
			<form method="post" action="./validarValoresCtrl">
				{% csrf_token %}
				{% if formValCtrl %}
					{{ formValCtrl }}
				{% else %}
				{% for valCtrl in valoresCtrl %}
				<label for="{{ valCtrl.id }}">{{ valCtrl.titulo }}</label>
				<div>
					<input type="text" name="{{ valCtrl.id }}" id="{{ valCtrl.id }}" class="helpicon" />
					{{ valCtrl.unidad }}
					<span class="helpText">Forma de c&aacute;lculo:<br />{{ valCtrl.ayuda }}</span>
				</div>
				{% endfor %}
				{% endif %}
				<br />
				<input type="submit" value="Validar" />
				<p>Nota: NO utilizar punto separador de miles.</p>
			</form>
			{% else %}
			<ul>
				<li>
					No hay trabajos pr&aacute;cticos
				</li>
			</ul>
		</fieldset>
		{% endif %}
		<a href="../../principal">Volver</a>
	</article>
</section>
<section style="text-align: right; background: transparent">
	<!--<input type="button" onclick="location.href='/facultad/tps/agregarTP'" value="A&ntilde;adir un trabajo pr&aacute;ctico" />-->
</section>
<footer>
	[<a href="/accounts/password/change">Cambiar mi clave</a>] - [<a href="/accounts/logout">Salir</a>]
</footer>
{% endblock %}
