<html>
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content="" />
		<meta name="author" content="Franco Coloccini" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link type="text/css" href="/static/css/estilos.css" rel="stylesheet" />
		<!--<script type="text/javascript" src="/static/js/prefixfree.min.js"></script>
		<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>-->
		{% block subHead %}{% endblock %}
	</head>
	<body>
		<header>
			[<a href="">Modificar mis datos</a>] - [<a href="/accounts/password/change">Cambiar mi clave</a>] - [<a href="/accounts/logout">Salir</a>]
		</header>
		{% block content %}{% endblock %}
	</body>
</html>