<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
		<link type="text/css" href="/static/css/estilos.css" rel="stylesheet" />
		<!--<script type="text/javascript" src="/static/js/prefixfree.min.js"></script>
		<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>-->
		{% block subHead %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>