{% extends "tps/base.html" %}

{% block subHead %}
		<link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
{% endblock %}

{% block body %}
{% if formTP %}
<form action="./agregarTP" method="post">
	{% csrf_token %}
	{{ formTP }}
	<!--<input name="codigo" placeholder="Ingrese código TP" required="" /> <br />
	<input name="titulo" placeholder="Título TP" required="" /> <br />
	<textarea name="consigna" placeholder="Consigna" required=""></textarea> <br />
	<input name="fechaInicio" placeholder="Fecha de activación" type="date" required="" /> <br />
	<input name="fechaFin" placeholder="Fecha de desactivación" type="date" />-->
	<br /> <br />
	<a href="./">Cancelar</a>
	<input type="submit" value="Agregar" />
</form>
{% endif %}
{% if formAlumno %}
<form action="./agregarAlumno" method="post">
	{% csrf_token %}
	{{ formAlumno }}
	<br /> <br />
	<a href="./">Cancelar</a>
	<input type="submit" value="Agregar" />
</form>
{% endif %}
{% endblock %}
