{% extends "tps/base.html" %}

{% block title %}
{% if formAlumno %}Gesti&oacute;n de alumnos
{% endif %}
{% if formTP %}Gesti&oacute;n de trabajos pr&aacute;cticos
{% endif %}
{% endblock %}



{% block content %}
{% if formTP %}
<section>
	<article>
		<form action="../tps/agregarTP" method="post">
			{% csrf_token %}
			{{ formTP }}
			<br /> <br />
			<a href="./principal">Cancelar</a>
			<input type="submit" value="Agregar" />
		</form>
	</article>
	<article>
		<form action="" method="post">
			{% csrf_token %}
			{{ valCtrlForm }}
		</form>
	</article>
{% if formValCtrl %}
	<article>
		<form action="#" method="post">
			{% csrf_token %}
			{{ formValCtrl }}
			<br /> <br />
			<a href="./principal">Cancelar</a>
			<input type="submit" value="Agregar" />
		</form>
	</article>
</section>
{% endif %}
{% endif %}
{% if formAlumno %}
<section>
	<article>
		<form action="../tps/agregarAlumno" method="post">
			{% csrf_token %}
			{{ formAlumno }}
			<br /> <br />
			<a href="./principal">Cancelar</a>
			<input type="submit" value="Agregar" />
		</form>
	</article>
</section>
{% endif %}
{% endblock %}
