{% extends "tps/base.html" %}

{% block title %}
	{% if formAlumno %}Gesti&oacute;n de alumnos
	{% endif %}
	{% if formTP %}Gesti&oacute;n de trabajos pr&aacute;cticos
	{% endif %}
{% endblock %}


{% block subHead %}
<script type="text/javascript" src="/static/js/sisyphus.js"></script>
<script type="text/javascript">
$(function(){
	$('form').sisyphus({timeout: 5});
});</script>
{% endblock %}

{% block content %}
{% if formTP %}
<section>
	<article>
		<form action="../agregarTP" method="post">
			{% csrf_token %}
			{{ formTP }}
			<br /> <br />
			<input type="reset" value="Reset" />
			<input type="submit" value="Agregar" />
		</form>
		<a href="/facultad/principal">Volver</a>
	</article>
	<article>
		<b>Valores de Control:</b>
		{% for valCtrl in valoresCtrl %}
		<ul>
			<!--<li>
				Código TP: {{ valCtrl.trabajoPractico.codigo }}{{valCtrl.trabajoPractico.tema}}
			</li>-->
			<li>
				<!--T&iacute;tulo: -->
				<a href='./valCtrl/{{ valCtrl.id }}'>{{ valCtrl.titulo }}</a>
				<ul>
					<li>
						Valor: {{ valCtrl.valor }} {{ valCtrl.unidad }}
					</li>
					<li>
						Forma de c&aacute;lculo: {{ valCtrl.ayuda }}
					</li>
				</ul>
			</li>
		</ul>
		{% endfor %}
		<input type="button" onclick="location.href='../{{ codigoTP }}/agregarValCtrl/'" value="Agregar un valor" />
	</article>
{% endif %}
{% if formValCtrl %}
	<article>
		<form action="" method="post">
			{% csrf_token %}
			{{ formValCtrl }}
			<br /> <br />
			<input type="reset" value="Reset" />
			<input type="submit" value="Agregar" />
		</form>
		<a href="../">Volver</a>
	</article>
</section>
{% endif %}
{% if formAlumno %}
<section>
	<article>
		<form action="../alumno/agregarAlumno" method="post">
			{% csrf_token %}
			{{ formAlumno }}
			<br /> <br />
			<input type="reset" value="Reset" />
			<input type="submit" value="Agregar" />
		</form>
			<a href="./principal">Volver</a>
	</article>
</section>
{% endif %}
{% endblock %}
