{% extends "tps/base.html" %}

{% block title %}Administraci&oacute;n de alumnos y trabajos pr&aacute;cticos
{% endblock %}

{% block subHead %}
{% endblock %}

{% block content%}
	<a href="/facultad/tps/"><img id="logo-fceia" src="/static/images/FCEIA-logo.png" /></a>
<section>
	<article>
		<p><strong>Lista de Alumnos:</strong></p>
		{% if listaAlumnos %}
		<ul>
			{% for alumno in listaAlumnos %}
			<li><a href="./alumno/{{ alumno.nroLegajo }}">Legajo: {{ alumno.nroLegajo }}</a>
				<ul>
					<li>Nombre: {{ alumno.nombre }}</li>
					<li>Apellido: {{ alumno.apellido }}</li>
					<li>Direcci&oacute;n: {{ alumno.direccion }}</li>
					<li>Tel&eacute;fono: {{ alumno.telefono }}</li>
					<li>Pa&iacute;s: {{ alumno.pais }}</li>
					<li>Provincia: {{ alumno.provincia }}</li>
					<li>Email: {{ alumno.email }}</li>
					<li>Fecha alta: {{ alumno.fechaAlta }}</li>
					<li>Fecha baja: {{ alumno.fechaBaja }}</li>
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<ul>
			<li>
				No hay alumnos
			</li>
		</ul>
		{% endif %}
	</article>
	<article>
		<p><strong>Lista de trabajos pr&aacute;cticos:</strong></p>
		{% if listaTPs %}
		<ul>
			{% for tp in listaTPs %}
			<li><a href="./{{ tp.codigo }}">C&oacute;digo: {{ tp.codigo }}</a>
				<ul>
					<li>T&iacute;tulo: {{ tp.titulo }}</li>
					<li>Consigna: {{ tp.consigna }}</li>
					<li>Nros legajos asignados: {{ tp.nrosLegajosAsignados }}</li>
					<li>Fecha inicio: {{ tp.fechaInicio }}</li>
					<li>Fecha fin: {{ tp.fechaFin }}</li>
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<ul>
			<li>
				No hay trabajos pr&aacute;cticos
			</li>
		</ul>
		{% endif %}
	</article>
</section>
<section style="text-align: right; background: transparent">
	<input type="button" onclick="location.href='./agregarAlumno'" value="A&ntilde;adir un alumno" />
	<input type="button" onclick="location.href='./agregarTP'" value="A&ntilde;adir un trabajo pr&aacute;ctico" />
</section>
{% endblock %}
