{% extends "tps/base.html" %}

{% block subHead %}
{% endblock %}

{% block body%}
	<a href="/facultad/tps/"><img id="logo-fceia" src="/static/images/FCEIA-logo.png" /></a>
	<div class="login">
		<h1>Ingrese sus datos</h1>
		<form method="post" action="./principal">
			{% csrf_token %}
			<input type="text" name="usuario" tabindex="1" placeholder="Legajo &oacute; usuario" />
			<input type="password" name="clave" tabindex="2" placeholder="Clave" />
			<br />
			<input type="reset" value="Cancelar" tabindex="4" />
			<input type="submit" onclick="location.href='./principal'" value="Ingresar" tabindex="3" />
		</form>
	</div>
{% endblock %}
