{% extends "tps/base.html" %}

{% block body %}
	{% if alumno%}
	<section>
		{% if alumno.tpsAsignados_set.count > 0 %}
		{% for tp in alumno.tpsAsignados_set.all %}
			<article>
				<label>Nro: </label>{{ forloop.counter }}
				<label>T&iacute;tulo: </label>tp.titulo
				<label>Consigna: </label>tp.consigna
				<label></label>
			</article>
		{% endfor %}
		{% else %}
		<b>No tenes trabajo pr&aacute;ctico asignado a&uacute;n: </b>
		<input type="button" onclick="location.href='./asignarTP/{{ alumno.nroLegajo }}'" value="Asignarme un TP" />
		{% endif %}
	</section>
	{% endif %}
{% endblock %}
