<html>
  <head>
    <title>Homero no encuentra lo que buscas!!</title>
    <meta content="">
	<link type="text/css" href="/static/css/estilos.css" rel="stylesheet" />
  </head>
  <body>
  	<img alt="Homero está sorprendido" class="imagen" src="/static/images/HomerSorprendido404.jpg" />
  	<br />
  	<div style="text-align: center">
  		<h2>Homero no encuentra lo que buscas... tal vez si le compras una Duff!</h2>
  		<br />
  		<a href="/facultad/tps/"><-- Volver al Inicio</a>
  	</div>
  	
  	
  </body>
</html>