/*en CSS se coloca los estilos de las etiquetas primero, luego los IDs y por último las clases. Todo debe ordenarse en orden alfabético y  mayúsculas a minúsculas*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {
	/*margin:0;
	padding: 0;*/
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block;
}
audio,canvas,video {
	display: inline-block; *display:inline; *zoom: 1;
}
body
{
	background-color: olive;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%; /*declarando el font-size global, es muy importante hacerlo porque todos los tamaños relativos dependen de este.*/
	height: 90%;
	line-height: 20px;
}
footer {
	bottom: 0;
	height: 25px;
	margin-left: 3%;
	position: relative;
	width: 90%;
}
h1
{
	text-align: center;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.8); /*Sombra:1ro desplazamiento en eje X e Y, y difuminación (0px es nítido). Por último el color de la sombra: R,G,B y la opacidad que va de 0 a 1*/
}
header {
	
}
section
{
	background-color: white;
	border-radius: 0.5em;
	box-sizing: border-box; /*Evita que el padding aumente el tamaño de la caja*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	margin: 1em auto; /*margen externo, si se pone uno solo aplica para todo, sino se pone primero margen superior e inferior y luego para los laterales*/
	max-width: 1024px;
	min-width: 545px;
	overflow: hidden;
	padding: 0.5em 1%; /*idem el margin pero interno*/
	/*vertical-align: top;*/
	width: 90%;
}
article
{
	background-color: #559999;
	border-radius: 0.5em;
	box-sizing: border-box; /*Evita que el padding aumente el tamaño de la caja*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	float: left;
	margin: 0.5em 2%;
/*	min-height: 350px;*/
	min-width: 245px;
	padding: 0.3em;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
	/*transition: all 0.5s ease-in;*/
	/*vertical-align: top;*/
	width: 46%;
}
article.columnaSimple {
	float: none;
	margin: 0.5em auto;
	max-width: 500px;
	width: 96%
}
article ul li ul li{
	display: none;
}
article ul li:hover ul li {
	display: list-item;
}
a
{
	color: #AADDDD;
	text-decoration: none;
}
a:hover
{
	color: #DDFFBB;
	text-decoration: underline;
}
/*section article:hover
{
	background: #AAA;
	transform: rotate(20deg) translateX(30px);
}*/
form {
	background-color: #FFFFFF;
	/*border-radius: 0.5em 0.5em 0.5em 0.5em;*/
	box-sizing: border-box; /*Evita que el padding aumente el tamaño de la caja*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	margin: auto;
	min-width: 229px;
	padding: 0.5em;
}
form label{
	display:block;
}

input,
select,
textarea
{
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #555555;
	/*cursor: pointer;*/
	display: inline-block;
	font-size: 13px;
	height: 25px;
	line-height: 18px;
	margin-bottom: 9px;
	padding: 4px;
	width: 210px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input,
textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea {
	height: auto;
}
input:focus,
textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted \9;/* IE6-9 */
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
input[type=text],
select,
textarea {
	background-color: #FFFFFF;
	display: block;
	/*cursor: text;*/
}
input[type=reset] {
	background-color: transparent;
	max-width: 45px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #eeeeee;
	border-color: #ddd;
	cursor: not-allowed;
}
#primer-parrafo
{
	background: white;
	border-radius: 0.5em; /*1em es una unidad de medida de la fuente, en este caso la más cercana es la del body*/
	box-shadow: -5px 10px 20px rgba(0,0,0,0.5);
	color: black;
	display: block;
	margin: 1em auto;
	padding: 1em;
	width: 70%;	
}
#logo-fceia {
	/*animation*/
	-webkit-animation:3s ease 0s alternate none infinite colorcycle;
	-moz-animation:3s ease 0s alternate none infinite colorcycle;
	-ms-animation:3s ease 0s alternate none infinite colorcycle;
	-o-animation:3s ease 0s alternate none infinite colorcycle;
	animation:3s ease 0s alternate none infinite colorcycle;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	/*transform*/
	/*-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	transform:rotate(15deg);*/
	background-image:-moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
	background-image:-webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
	background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.3));
	/*border-radius*/
	-webkit-border-radius:15% 15% 15% 15%;
	-moz-border-radius:15% 15% 15% 15%;
	-ms-border-radius:15% 15% 15% 15%;
	border-radius:15% 15% 15% 15%;
	/*box-shadow*/
	-webkit-box-shadow:0.1em 0.2em 0.4em -0.2em black;
	-moz-box-shadow:0.1em 0.2em 0.4em -0.2em black;
	-ms-box-shadow:0.1em 0.2em 0.4em -0.2em black;
	box-shadow:0.1em 0.2em 0.4em -0.2em black;
	color:white;
	font-weight:normal;
	height:7em;
	line-height:1;
	margin:-0.5em 0 -1.5em 0;
	padding:0.6em 0;
	position:relative;
	text-align:center;
	text-decoration:none;
	text-shadow:0.08em 0.08em 0.2em rgba(0, 0, 0, 0.6);
	width:11em;
}
#logo-fceia:hover {
	color: red;
	/*transform*/
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	/*transition*/
	-webkit-transition:-webkit-transform 0.5s ease 0s;
	-moz-transition:-moz-transform 0.5s ease 0s;
	-o-transition:transform 0.5s ease 0s;
	transition:transform 0.5s ease 0s;
}
ul.errorlist + input,
ul.errorlist + textarea {
	background-color: #FFFF73;
}
.helpicon {
	display: inline-block !important;
}
.helptext {
	background-color: #FFFF73;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	display: none;
	margin: -46px 0 0 223px;
	max-width: 230px;
	opacity: 0.9;
	padding: 5px;
	position: absolute;
	resize: both;
	width: 215px;
	z-index: 100;
}
.helptext:before {
	border-bottom: 9px solid transparent;
    border-right: 12px solid #FFFF73;
    border-top: 9px solid transparent;
    content: "";
    font-size: 0;
    height: 0;
    margin: 0 5px 0 -17px;
    width: 0;
}
/*.helpicon:hover + br + .helptext,
.helpicon:focus + br + .helptext,
.helptext:hover,
.helpicon:hover + .helptext*/ .helpicon + br + .helptext{
	display: inline;
}
.naranja {
	color: orange;
	font-weight: bold;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}
.imagen {
	background-color: transparent;
	border-radius: 0.5em;
	display: block;
	margin: auto;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.imagen:hover
{
	background: #AAA;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
